/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.page{
    display: grid;
    grid-template-rows: auto 1fr;
    opacity: 0.7;
    z-index: 1;
    height: 100vh;
}
.container {
    height: 100%;
    background-image: url("../../public/back.jpg");
    background-size: 150%;  /* rimpicciolisce (zoom out) */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    row-gap: 50px;
    background: black;
    padding: 30px 10px;
    border-radius: 3px;
}

.title {
    color: #F6F1F4;
    font-size: 30px;
}

.round{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #F6F1F4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #223344;
    font-size:25px;
}

/*CLASSIFICA*/


.classifica-container {
    /*background: linear-gradient(135deg, #0da8af, #F00B8C);*/
    /*opacity: 0.6;*/
    background-color: #354659;
    font-family: 'Inter', sans-serif;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}


.cards-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.card {
    background: #223344;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    border-top: 1px solid #354659;
}

.number-container {
    color: #F6F1F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-left: -18px;
    transform: skew(-12deg);
    height: 100%;
}
.posizione{
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    color: #F6F1F4;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0 10px;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.header-card {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.no-data {
    text-align: center;
    color: #6b7280;
    font-style: italic;
    margin-top: 2rem;
}

ion-toast.custom-toast {
    --background: #F00B8C;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: white;
    font-size: large;
    font-weight: 600;
}
